body{
	background-color: lightblue;
	margin: 50 auto;
	max width: 50em;
	}
	
	h1 {
		color: white;
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
	}
	
	p {
		padding: 20px;
		text-align: center;
		font-family: Verdana;
		font-size: 20px;
		
	}
	
	img {
	float: center;
	}
		 